<h1>Listing Cryptos</h1>

<%= link_to 'New Crypto', new_crypto_path %>
<br><br> 
<table>
  <tr>
    <th>Name</th>
    <th>Short Name</th>
    <th>Date of Birth</th>
    <th colspan="3"></th>
  </tr>
 
  <% @cryptos.each do |crypto| %>
    <tr>
      <td><%= crypto.name %></td>
      <td><%= crypto.short_name %></td>
      <td><%= crypto.date_of_birth %></td>
      <td><%= link_to 'Show', crypto_path(crypto) %></td>
      <td><%= link_to 'Edit', edit_crypto_path(crypto) %></td>
      <td><%= link_to 'Delete', crypto_path(crypto),
        method: :delete,
        data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
